
h4 {
  color: white;
}
html body .font-medium {
 color:white; 
}

hr.new5 {
  border: 2px solid white;
  border-radius: 5px;
}

h1 {
  color: white;
}
.card1:hover {
	-webkit-box-shadow :-1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow :-1px 9px 40px -12px rgba(0,0,0,0.75);
	-box-shadow :-1px 9px 40px -12px rgba(0,0,0,0.75);
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  border-radius:40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  
}
.card2-body {
  background-image: url('pp.jpg');
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
  margin-bottom: 0.20;
}

.card1-body {
  background-image: url('pp.jpg');
  border-radius:40px;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}
.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
  margin-bottom: 0.20;
}


.card1-title {
  margin-bottom: 0.75rem;
}

.card1-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card1-text:last-child {
  margin-bottom: 0;
}

.card1-link:hover {
  text-decoration: none;
}

.card1-link + .card1-link {
  margin-left: 1.25rem;
}

.card1 > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card1 > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card1-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card1-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card1-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card1-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card1-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card1-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card1-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card1-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card1-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card1-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card1-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card1-deck .card1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  .card1-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .card1-group .card1 {
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
  }
  .card1-group .card1 + .card1 {
    margin-left: 0;
    border-left: 0;
  }
  .card1-group .card1:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card1-group .card1:first-child .card1-img-top {
    border-top-right-radius: 0;
  }
  .card1-group .card1:first-child .card1-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card1-group .card1:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card1-group .card1:last-child .card1-img-top {
    border-top-left-radius: 0;
  }
  .card1-group .card1:last-child .card1-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card1-group .card1:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card1-group .card1:not(:first-child):not(:last-child) .card1-img-top,
  .card1-group .card1:not(:first-child):not(:last-child) .card1-img-bottom {
    border-radius: 0;
  }
}

.card1-columns .card1 {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card1-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card1-columns .card1 {
    display: inline-block;
    width: 100%;
  }

div.click-to-top {
display:inline-block;
position:relative;
max-width:160px;
margin-right: 1.65rem;
}
}

div.click-to-top:hover{
z-index:10;
}

div.click-to-top img{
-webkit-transition: all 0.8s;
moz-transition: all 0.8s;
transition: all 0.8s;
width:30px;
}

div.click-to-top img:hover{
width:100px;
z-index:10;
}

div.click-to-top1 img{
-webkit-transition: all 0.8s;
moz-transition: all 0.8s;
transition: all 0.8s;
width:60px;
}

div.click-to-top1 img:hover{
width:100px;
z-index:10;
}

div.click-to-top span {
display: none; position: absolute; bottom: 0; left: 0; right: 0; background: #333; color: #fff;width:100px; 
}

div.click-to-top:hover span {
display: block;
}

/*carousel pertama ku*/
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
  
}

.carousel-caption {
width: 100%;
left: 15%;
top: 55% !important;
transform: translateY(-50%);
text-align: left;
bottom: initial;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;

  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*carrousel apik*/

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: black;
  font-size: 10px;
  padding: 16px 32px;
}








