/*!
 * Star Rating
 * @version: 3.1.5
 * @author: Paul Ryley (http://geminilabs.io)
 * @url: https://github.com/pryley/star-rating.js
 * @license: MIT
 */

$star-rating: () !default;

$star-rating-defaults: (
    base-classname : 'gl-star-rating',
    base-display   : block,
    base-height    : 26px,
    font-size      : 0.8em,
    font-weight    : 600,
    parent         : '',
    star-empty     : url(../img/star-empty.svg),
    star-full      : url(../img/star-full.svg),
    star-half      : url(../img/star-half.svg),
    star-size      : 50px,
    text-background: #1a1a1a,
    text-color     : #fff,
);

@function sr($value) {
	@return map-get(map-merge($star-rating-defaults, $star-rating), $value);
}

#{sr(parent)} .#{sr(base-classname)}[data-star-rating] {
	position: relative;
	display: sr(base-display);
}

#{sr(parent)} .#{sr(base-classname)}[data-star-rating] > select {
	overflow: hidden;
	visibility: visible !important;
	position: absolute !important;
	top: 0;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px); // IE/Edge
	clip-path: circle(1px at 0 0); // Modern
	white-space: nowrap;
}

#{sr(parent)} .#{sr(base-classname)}[data-star-rating] > select::before,
#{sr(parent)} .#{sr(base-classname)}[data-star-rating] > select::after {
	display: none !important;
}

#{sr(parent)} .#{sr(base-classname)}-ltr[data-star-rating] > select {
	left: 0;
}

#{sr(parent)} .#{sr(base-classname)}-rtl[data-star-rating] > select {
	right: 0;
}

#{sr(parent)} .#{sr(base-classname)}[data-star-rating] > select:focus + .#{sr(base-classname)}-stars::before {
	opacity: 0.5;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	outline: dotted 1px currentColor;
	pointer-events: none;
}

#{sr(parent)} .#{sr(base-classname)}-stars {
	position: relative;
	display: inline-block;
	height: sr(base-height);
	vertical-align: middle;
	cursor: pointer;
}

#{sr(parent)} .#{sr(base-classname)}-stars > span {
	display: inline-block;
	width: sr(star-size);
	height: sr(star-size);
	background-size: sr(star-size);
	background-repeat: no-repeat;
	background-image: sr(star-empty);
	margin: 0 sr(star-size)/6 0 0;
	&:last-of-type {
		margin-right: 0;
	}
}

#{sr(parent)} .#{sr(base-classname)}-rtl[data-star-rating] .#{sr(base-classname)}-stars > span {
	margin: 0 0 0 sr(star-size)/6;
	&:last-of-type {
		margin-left: 0;
	}
}

#{sr(parent)} .#{sr(base-classname)}-stars.s10 > span:nth-child(1),
#{sr(parent)} .#{sr(base-classname)}-stars.s20 > span:nth-child(-1n+2),
#{sr(parent)} .#{sr(base-classname)}-stars.s30 > span:nth-child(-1n+3),
#{sr(parent)} .#{sr(base-classname)}-stars.s40 > span:nth-child(-1n+4),
#{sr(parent)} .#{sr(base-classname)}-stars.s50 > span:nth-child(-1n+5),
#{sr(parent)} .#{sr(base-classname)}-stars.s60 > span:nth-child(-1n+6),
#{sr(parent)} .#{sr(base-classname)}-stars.s70 > span:nth-child(-1n+7),
#{sr(parent)} .#{sr(base-classname)}-stars.s80 > span:nth-child(-1n+8),
#{sr(parent)} .#{sr(base-classname)}-stars.s90 > span:nth-child(-1n+9),
#{sr(parent)} .#{sr(base-classname)}-stars.s100 > span {
	background-image: sr(star-full);
}

#{sr(parent)} .#{sr(base-classname)}-text {
	display: inline-block;
	position: relative;
	height: sr(base-height);
	line-height: sr(base-height);
	font-size: sr(font-size);
	font-weight: sr(font-weight);
	color: sr(text-color);
	background-color: sr(text-background);
	white-space: nowrap;
	vertical-align: middle;
	padding: 0 sr(star-size)/2 0 sr(star-size)/4;
	margin: 0 0 0 sr(star-size)/2;

	&::before {
		position: absolute;
		top: 0;
		left: -(sr(star-size)/2);
		width: 0;
		height: 0;
		content: "";
		border-style: solid;
		border-width: sr(base-height)/2 sr(star-size)/2 sr(base-height)/2 0;
		border-color: transparent sr(text-background) transparent transparent;
	}
}

#{sr(parent)} .#{sr(base-classname)}-rtl[data-star-rating] .#{sr(base-classname)}-text {
	padding: 0 sr(star-size)/4 0 sr(star-size)/2;
	margin: 0 sr(star-size)/2 0 0;

	&::before {
		left: unset;
		right: -(sr(star-size)/2);
		border-width: sr(base-height)/2 0 sr(base-height)/2 sr(star-size)/2;
		border-color: transparent transparent transparent sr(text-background);
	}
}
